In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
titanic_df = pd.read_csv('titanic_data.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic_df.describe()

/home/kh/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [24]:
#adding a new column named Relatives
titanic_df['Relatives'] = titanic_df['SibSp'] + titanic_df['Parch']

In [26]:
#function that returns the percentage of females in a dataframe group
def percent_females(df):
    f = 0 
    for i in df['Sex']:
        if i == 'female':
            f += 1
    return f * 100.0 / len(df['Sex'])

#function that returns percentage of people survived in a dataframe group
def percent_survived(df):
    return df['Survived'].sum() * 100.0 / df['Survived'].count()

#function that returns the overall percentage of people in a dataframe group
def percent_people(df):
    return df['PassengerId'].count() * 100.0 / 891

In [27]:
#grouping by number of relatives 
passengers_by_number_of_relatives = titanic_df.groupby('Relatives')
print percent_people(passengers_by_number_of_relatives)

Relatives
0     60.269360
1     18.069585
2     11.447811
3      3.254770
4      1.683502
5      2.469136
6      1.346801
7      0.673401
10     0.785634
Name: PassengerId, dtype: float64

In [28]:

#grouping people by class
passengers_by_class = titanic_df.groupby('Pclass')
percent_people(passengers_by_class).plot(kind = 'pie')
plt.show()

In [34]:
print percent_survived(passengers_by_class)
percent_survived(passengers_by_class).plot()
percent_people(passengers_by_class).plot()
passengers_by_class.apply(percent_females).plot()
plt.show()
print percent_people(passengers_by_class)
print passengers_by_class.apply(percent_females)

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64
Pclass
1    24.242424
2    20.650954
3    55.106622
Name: PassengerId, dtype: float64
Pclass
1    43.518519
2    41.304348
3    29.327902
dtype: float64

In [12]:
#pie chart that shows division of number of people by number of relatives
passengers_by_number_of_relatives.apply(percent_people).plot(kind = 'pie')
plt.show()

In [14]:
#plot that shows the varying of percent females and percent survivors grouped by number of relatives
passengers_by_class
passengers_by_number_of_relatives.apply(percent_survived).plot()
passengers_by_number_of_relatives.apply(percent_females).plot()
plt.show()

Axes(0.125,0.1;0.775x0.8)
Axes(0.125,0.1;0.775x0.8)

In [173]:
passengers_by_number_of_relatives['Pclass'].mean()

Relatives
0     2.400372
1     1.919255
2     2.225490
3     2.068966
4     2.666667
5     2.590909
6     3.000000
7     3.000000
10    3.000000
Name: Pclass, dtype: float64

In [22]:
#grouping by age
passengers_by_age = titanic_df.groupby('Age')
print passengers_by_age.count()

       PassengerId  Survived  Pclass  Name  Sex  SibSp  Parch  Ticket  Fare  \
Age
0.42             1         1       1     1    1      1      1       1     1
0.67             1         1       1     1    1      1      1       1     1
0.75             2         2       2     2    2      2      2       2     2
0.83             2         2       2     2    2      2      2       2     2
0.92             1         1       1     1    1      1      1       1     1
1.00             7         7       7     7    7      7      7       7     7
2.00            10        10      10    10   10     10     10      10    10
3.00             6         6       6     6    6      6      6       6     6
4.00            10        10      10    10   10     10     10      10    10
5.00             4         4       4     4    4      4      4       4     4
6.00             3         3       3     3    3      3      3       3     3
7.00             3         3       3     3    3      3      3       3     3
8.00             4         4       4     4    4      4      4       4     4
9.00             8         8       8     8    8      8      8       8     8
10.00            2         2       2     2    2      2      2       2     2
11.00            4         4       4     4    4      4      4       4     4
12.00            1         1       1     1    1      1      1       1     1
13.00            2         2       2     2    2      2      2       2     2
14.00            6         6       6     6    6      6      6       6     6
14.50            1         1       1     1    1      1      1       1     1
15.00            5         5       5     5    5      5      5       5     5
16.00           17        17      17    17   17     17     17      17    17
17.00           13        13      13    13   13     13     13      13    13
18.00           26        26      26    26   26     26     26      26    26
19.00           25        25      25    25   25     25     25      25    25
20.00           15        15      15    15   15     15     15      15    15
20.50            1         1       1     1    1      1      1       1     1
21.00           24        24      24    24   24     24     24      24    24
22.00           27        27      27    27   27     27     27      27    27
23.00           15        15      15    15   15     15     15      15    15
...            ...       ...     ...   ...  ...    ...    ...     ...   ...
44.00            9         9       9     9    9      9      9       9     9
45.00           12        12      12    12   12     12     12      12    12
45.50            2         2       2     2    2      2      2       2     2
46.00            3         3       3     3    3      3      3       3     3
47.00            9         9       9     9    9      9      9       9     9
48.00            9         9       9     9    9      9      9       9     9
49.00            6         6       6     6    6      6      6       6     6
50.00           10        10      10    10   10     10     10      10    10
51.00            7         7       7     7    7      7      7       7     7
52.00            6         6       6     6    6      6      6       6     6
53.00            1         1       1     1    1      1      1       1     1
54.00            8         8       8     8    8      8      8       8     8
55.00            2         2       2     2    2      2      2       2     2
55.50            1         1       1     1    1      1      1       1     1
56.00            4         4       4     4    4      4      4       4     4
57.00            2         2       2     2    2      2      2       2     2
58.00            5         5       5     5    5      5      5       5     5
59.00            2         2       2     2    2      2      2       2     2
60.00            4         4       4     4    4      4      4       4     4
61.00            3         3       3     3    3      3      3       3     3
62.00            4         4       4     4    4      4      4       4     4
63.00            2         2       2     2    2      2      2       2     2
64.00            2         2       2     2    2      2      2       2     2
65.00            3         3       3     3    3      3      3       3     3
66.00            1         1       1     1    1      1      1       1     1
70.00            2         2       2     2    2      2      2       2     2
70.50            1         1       1     1    1      1      1       1     1
71.00            2         2       2     2    2      2      2       2     2
74.00            1         1       1     1    1      1      1       1     1
80.00            1         1       1     1    1      1      1       1     1

       Cabin  Embarked  Relatives
Age
0.42       0         1          1
0.67       0         1          1
0.75       0         2          2
0.83       0         2          2
0.92       1         1          1
1.00       1         7          7
2.00       3        10         10
3.00       1         6          6
4.00       3        10         10
5.00       0         4          4
6.00       1         3          3
7.00       0         3          3
8.00       0         4          4
9.00       0         8          8
10.00      0         2          2
11.00      1         4          4
12.00      0         1          1
13.00      0         2          2
14.00      1         6          6
14.50      0         1          1
15.00      1         5          5
16.00      3        17         17
17.00      3        13         13
18.00      4        26         26
19.00      6        25         25
20.00      0        15         15
20.50      0         1          1
21.00      3        24         24
22.00      3        27         27
23.00      4        15         15
...      ...       ...        ...
44.00      3         9          9
45.00      3        12         12
45.50      1         2          2
46.00      2         3          3
47.00      5         9          9
48.00      5         9          9
49.00      5         6          6
50.00      4        10         10
51.00      2         7          7
52.00      4         6          6
53.00      1         1          1
54.00      3         8          8
55.00      1         2          2
55.50      0         1          1
56.00      3         4          4
57.00      1         2          2
58.00      5         5          5
59.00      0         2          2
60.00      2         4          4
61.00      2         3          3
62.00      2         3          4
63.00      1         2          2
64.00      1         2          2
65.00      2         3          3
66.00      0         1          1
70.00      1         2          2
70.50      0         1          1
71.00      1         2          2
74.00      0         1          1
80.00      1         1          1

[88 rows x 12 columns]